{% schema %}
{
  "name": "Discount Popup",
  "target": "section",
  "settings": []
}
{% endschema %}

<!-- Load the Referral Popup Script -->
<div id="referral-popup-container"></div>
<script src="{{ 'popup.js' | asset_url }}" defer></script>